@model IEnumerable<StockManagement.Models.SectionModel>

@{
    ViewBag.Title = "List of Sections";
}

    <h2>List of Sections</h2>


<a href="@Url.Action("CreateSection", "Section")" class="btn btn-success btn-md">
    <i class="fas fa-plus"></i>
    <span>New</span>
</a>
<br />
<br />
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.Name_Section)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.Description_Section)
        </th>
        <th style="text-align:center"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Name_Section)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Description_Section)
            </td>
            <td align="center">
                <a href="@Url.Action("EditSection", "Section",new {Name_Section = item.Name_Section })" class="btn btn-info btn-md">
                    <i class="far fa-edit"></i>
                </a>
                <a href="@Url.Action("DeleteSection", "Section",new { Name_Section = item.Name_Section})" class="btn btn-danger btn-md">
                    <i class="far fa-trash-alt"></i>
                </a>

            </td>
        </tr>
    }
</table>

    <a href="@Url.Action("Index", "Home")" class="btn btn-default btn-md">
        <i class="fas fa-arrow-left"></i>
        <span>Back</span>
    </a>
