@model StockManagement.Models.ProviderModel

@{
    ViewBag.Title = "Delete Provider";
}

<h2>Delete Provider</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name_Provider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_Provider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone_Provider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone_Provider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail_Provider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail_Provider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address_Provider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address_Provider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nif_Provider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nif_Provider)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <a href="@Url.Action("ViewProviders", "Provider")" class="btn btn-default btn-md">
        <i class="fas fa-arrow-left"></i>
        <span>Back</span>
    </a>
    <input type="submit" value="Delete" class="btn btn-danger" />
</div>
    }
</div>
